<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/static/style.css}"/>
</head>
<body>
<div id="content" align="center">
    <h1>用户注册</h1>

    <!--/*@thymesVar id="user" type="cn.edu.zjut.colleges.dto.User"*/-->
    <form method="POST" th:action="@{/user/register}" th:object="${user}">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect
                </li>
            </ul>
        </div>
        <label th:class="${#fields.hasErrors('account')}? 'error'">
            Account:<input type="text" th:field="*{account}"
                   th:class="${#fields.hasErrors('account')}? 'error'"/><br/>
        </label>

        <label th:class="${#fields.hasErrors('password')}? 'error'">
            Password:<input type="password" th:field="*{password}"
                            th:class="${#fields.hasErrors('password')}? 'error'"/><br/>
        </label>

        <label th:class="${#fields.hasErrors('email')}? 'error'">
            Email:<input type="text" th:field="*{email}"
                   th:class="${#fields.hasErrors('email')}? 'error'"/><br/>
        </label>

        <label>
            Sex:
            <input th:type="radio" name="sex" th:field="*{sex}" th:value="true">男
            <input th:type="radio" name="sex" th:field="*{sex}" th:value="false">女<br>
        </label>

        <label th:class="${#fields.hasErrors('birthday')}? 'error'">
            Birthday:<input type="date" th:field="*{birthday}"
                            th:class="${#fields.hasErrors('birthday')}? 'error'"/><br/>
        </label>

        <label th:class="${#fields.hasErrors('nativePlace')}? 'error'">
            NativePlace:<input type="text" th:field="*{nativePlace}"
                            th:class="${#fields.hasErrors('nativePlace')}? 'error'"/><br/>
        </label>


        <input type="submit" value="Register" />

    </form>
</div>
</body>
</html>